name: MERN CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: install backend dependencies
        working-directory: backend
        run: npm install

      - name: install frontend dependencies
        working-directory: frontend
        run: npm install

      - name: build frontend
        working-directory: frontend
        run: npm run build
